<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'/>
    <title>RHE 309k &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import '{{ page.root }}css/default.css';
      @import '{{ page.root }}css/syntax.css';
    </style>
    <link rel="shortcut icon" href="{{ page.root }}favicon.ico" />
    <meta content='Rhetoric & Writing' name='subject'/>
    <!--<link href='images/favicon.png' rel='shortcut icon'>-->
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
<!--        <img height="100" alt='RHE 309k' src='{{ page.root }}images/utexas.png'/> -->
        <div class='tagline'>Rhetoric of Science Writing: Fall 2014</div>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>RHE 309k
            <ol class="toc">
              <li><a href='{{ page.root }}index.html'>Home</a></li>
              <li><a href='{{ page.root }}syllabus.html'>Syllabus</a></li>
              <li><a href='{{ page.root }}schedule.html'>Schedule</a></li>
              <li><a href='{{ page.root }}assignments'>Assignments</a></li>
              <li><a href='{{ page.root }}notes.html'>Class Notes</a></li>
              <li><a href='{{ page.root }}resources.html'>Resources</a></li>
              <li><a href='{{ page.root }}citation.html'>Citation</a></li>
			  </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1>{{ page.title }}</h1>
        <!--{{ content | toc }}-->
        {{ content }}
      </div>
      <div id='footer'></div>
    </div>
  </body>
</html>
